{% extends "base.html" %}
{% block title %}Acerca de:{% endblock %}
{% block content %}
<h1 class="text-secondary text-center mb-4">Acerca de: </h1>
<h1 class="text-secondary text-center mb-4">Mis intereses y pasiones</h1>
<div class="card text-center mb-4">
  <div class="card-header bg-secondary"><h4 class="">Nombre</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <h3 class="card-text">Zeferino Leonardo Anette Michel</h3>
  </div>
</div>
<div class="card text-center mb-4">
  <div class="card-header bg-secondary"><h4 class="">Gustos</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <h3 class="card-text">Me gusta mucho ver series y escuchar musica de mis artistas favoritos</h3>
  </div>
</div>
        <div class="card text-center mb-4">
  <div class="card-header bg-secondary"><h4 class="">Futuro</h4>
  </div>
  <div class="card-body ">
    <h5 class="card-title "></h5>
    <h3 class="card-text text-center">En un futuro quiero ser una persona que termine sus estudios y viaje ya sea por trabajo o por que tenga la oportunidad de hacerla por el trabajo que tenga</h3>
  </div>
</div>
{% endblock %}
