{% extends "base.html" %}
{% block title %}Animales Exóticos{% endblock %}
{% block content %}
<h1 class="text-center mb-4">Animales Exóticos</h1>
<h1 class="text-center mb-4">Acuatico</h1>
<div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="static\img/image.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Dragón de mar </h5>
        <p>es una criatura marina fascinante, considerada un pez óseo y pariente cercano de los 
          caballitos de mar y los peces pipa. Es conocido como el "rey del camuflaje". Sus apéndices 
          corporales parecen hojas y algas, permitiéndole mezclarse perfectamente con su entorno para 
          evitar depredadores. </p>
      </div>
      <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="https://www.youtube.com/watch?v=KO3HC303CJo">Entra al link para ver dragones
  <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
    <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
</a>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="static\img/image2.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Dragón de mar </h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static\img/image3.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Peces tropicales</h5>
        <p>Los peces tropicales son un grupo vasto y diverso de especies de peces que habitan en 
          regiones con climas cálidos, cercanas al ecuador. Son extremadamente populares en la 
          acuariofilia por sus colores vibrantes y formas únicas. Su rasgo más distintivo es su 
          paleta de colores vivos y brillantes (amarillos, azules, verdes, rojos, etc.), que a menudo 
          les sirven de camuflaje en los coloridos arrecifes o ríos.  </p>
      </div>
       <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="https://www.youtube.com/watch?v=7beSahSjutU">Entra al link para ver peces tropicales
  <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
    <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
</a>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="static\img/image4.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Peces tropicales</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1 class="text-center mb-4">Terrestre</h1>
<div class="card mb-3">
  <img src="static\img/image5.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">Zorro de Fénec</h5>
    <p class="card-text">El fénec, feneco o zorro del desierto (Vulpes zerda) es una fascinante especie de cánido, conocido por ser el más pequeño de su familia y el que mejor se ha adaptado a las extremas condiciones del desierto.  Es el cánido más pequeño del mundo. Mide entre 24 y 41 cm de longitud y pesa apenas entre 1 y 1.5 kg. Su rasgo más distintivo son sus orejas, desproporcionadamente grandes (miden entre 10 y 15 cm).
       <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="https://www.youtube.com/watch?v=ZjKqUdFQsbw">Entra al link para ver zorro fenec
  <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
    <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
</a> </p>
    <p class="card-text"></p>
  <img src="static\img/image6.png" class="card-img-bottom" alt="...">
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Hurones</h5>
    <p class="card-text">Los hurones (Mustela putorius furo) son mascotas fascinantes, conocidas por ser juguetonas, curiosas y por dormir una gran parte del día. Son mamíferos carnívoros estrictos de la familia de los mustélidos (parientes de las comadrejas y nutrias).  Los hurones duermen entre 14 y 20 horas al día. Son más activos al amanecer y al atardecer (crepusculares). Es crucial que duerman en oscuridad total para regular su producción de melatonina y mantener su salud. 
       <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="https://www.youtube.com/watch?v=O6gkjZ1hplQ">Entra al link para ver hurones
  <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
    <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
</a>
    </p>
    <p class="card-text"></p>
  </div>
  <img src="static\img/image7.png" class="card-img-bottom" alt="...">
    <img src="static\img/image8.png" class="card-img-bottom" alt="...">
</div>
<h1 class="text-center mb-4">Aereo</h1>
<div class="card mb-3">
  <img src="static\img/image9.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">Guacamayos</h5>
    <p class="card-text">Los guacamayos son aves espectaculares y muy populares, conocidas por su plumaje vibrante y su alta inteligencia. Pertenecen a la familia de los loros (Psittacidae) y son originarios de las selvas y bosques tropicales de América Central y del Sur.  Se distinguen por su plumaje brillante en combinaciones de colores como rojo, azul, amarillo y verde. </p>
    <p class="card-text"></p>
  <img src="static\img/image10.png" class="card-img-bottom" alt="...">
  </div>
   <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="https://www.youtube.com/watch?v=JWpQP4-th58">Entra al link para ver Guacamayos
  <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
    <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
</a>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Pato mandarín</h5>
    <p class="card-text">El Pato Mandarín (Aix galericulata) es una de las aves acuáticas más icónicas y reconocidas del mundo debido al espectacular y vibrante plumaje del macho. Es un símbolo cultural de fidelidad y buena fortuna en Asia Oriental. Originario de Asia, el pato mandarín prefiere vivir en zonas forestales densas cerca de agua dulce, como lagos poco profundos, charcas y marjales. Son considerados patos arborícolas porque anidan en los agujeros de los árboles, a veces a varios metros de altura sobre el suelo</p>
    <p class="card-text"></p>
  </div>
  <img src="static\img/image11.png" class="card-img-bottom" alt="...">
    <img src="static\img/image12.png" class="card-img-bottom" alt="...">
     <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="https://www.youtube.com/watch?v=TadmXkeQ0JQ">Entra al link para ver Patos
  <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
    <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
</a>
</div>
{% endblock %}