{% extends "base.html" %}

{% block title %}Las Maravillas del Mundo{% endblock %}

{% block content %}
<h1 class="text-bg-dark mb-4 text-center">Las 7 Maravillas del Mundo Moderno</h1>
<p class="lead text-center">
    Las Siete Maravillas del Mundo Moderno son estructuras que representan la ingeniería y la visión artística de la humanidad a través de los siglos. Estos monumentos son un legado cultural invaluable.
</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="static\img/imagem.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Gran Muralla China</h5>
        <p class="card-text">Fue construida alrededor del año 220 a.C. por el primer emperador Qin Shin 
Huang, quien ordenó reunir los tramos de fortificaciones construidas anteriormente, a fin de crear un 
sistema de defensa contra las invasiones de los pueblos del Norte, revela la Organización de las Naciones 
Unidas para la Educación, la Ciencia y la Cultura (Unesco, por sus siglas en inglés). Un colosal sistema 
de fortificación que se extiende por miles de kilómetros. Fue construida a lo largo de varias dinastías 
para proteger al imperio chino de las incursiones del norte, como las de los mongoles. </div>
      <div class="card-footer">
        <img src="static\img/imageu.png" class="card-img-top" alt="...">
      </div>
      <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="https://youtu.be/Puwq-ix3AXY?si=ORH30AYLvXmiA8nn">Entra al link para ver Muralla china
  <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
    <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
</a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="static\img/image24.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Chichen Itzá, México</h5>
        <p class="card-text">Chichén Itzá es una ciudad maya de la península de Yucatán (México) que floreció en los siglos IX y X. De acuerdo con Unesco, esta ciudad sagrada fue uno de los centros más importantes de la civilización maya. 
Entre los edificios que han sobrevivido al paso del tiempo figuran el Templo de los Guerreros, el 
Castillo y el observatorio circular conocido por el nombre de El Caracol. Por su relevancia, también se 
encuentra en la lista del patrimonio desde 1988. </div>
      <div class="card-footer">
        <img src="static\img/image25.png" class="card-img-top" alt="...">
      </div>
      <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="https://www.youtube.com/watch?v=HZ65Qg2zfX4">Entra al link para ver chichen itza
  <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
    <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
</a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="static\img/image26.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center"> Petra, Jordania</h5>
        <p class="card-text">Petra es uno de los sitios arqueológicos más célebres del mundo. Se 
          encuentra en la actual Jordania en un valle remoto, entre montañas de arenisca y acantilados. 
          En parte está esculpida en roca y en parte construida en medio de las montañas surcadas por 
          pasos y desfiladeros. Según la Unesco, en la Antigüedad Petra fue una importante encrucijada de 
          caravanas comerciales que transitaban entre Arabia, Egipto, Siria y Fenicia. Al igual que los 
          destinos anteriores, este sitio forma parte del patrimonio de la humanidad desde 1988.</div>
      <div class="card-footer">
        <img src="static\img/image27.png" class="card-img-top" alt="...">
      </div>
      <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="https://www.youtube.com/watch?v=rVtEWxlccfM">Entra al link para ver petra
  <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
    <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
</a>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col-6 mb-4">
    <div class="card h-100">
      <img src="static\img/image28.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Machu Picchu, Perú</h5>
        <p class="card-text">Otra de las maravillas del mundo moderno localizadas en Latinoamérica es 
          Machu Picchu. Ubicado a 2430 metros de altura en medio de un bosque tropical de montaña, el 
          santuario es considerado una de las realizaciones arquitectónicas más imponentes del Imperio 
          Inca. Desde 1983 es parte del patrimonio mundial.</div>
      <div class="card-footer">
        <img src="static\img/image29.png" class="card-img-top" alt="...">
      </div>
      <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="https://www.youtube.com/watch?v=cClWxcBxDg8">Entra al link para ver peces machu pichu
  <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
    <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
</a>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
    <img src="static\img/image30.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Cristo Redentor, Brasil</h5>
        <p class="card-text">El emblemático Cristo Redentor que se encuentra en la cima del monte 
          Corcovado en Río de Janeiro (Brasil) es otro de los destinos destacados. La emblemática 
          construcción comenzó en 1926 y finalizó cinco años más tarde. Según informa Britannica, el 
          monumento está hecho de hormigón armado y mide 30 metros de altura sin incluir su base, que 
          mide unos 8 metros, y sus brazos extendidos miden 28 metros. Es la escultura Art Déco más 
          grande del mundo. El Cristo Redentor está recubierto de unos seis millones de azulejos.
</div>
      <div class="card-footer">
        <img src="static\img/image31.png" class="card-img-top" alt="...">
      </div>
      <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="https://www.youtube.com/watch?v=6RpOWBtZAk8">Entra al link para ver peces Cristo redentor
  <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
    <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
</a>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="static\img/image32.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Coliseo, Italia</h5>
        <p class="card-text">El Coliseo de Roma es considerada una proeza de ingeniería construida en el 
          siglo I por orden del emperador Vespasiano, señala Britannica. El anfiteatro mide 189 por 156 
          metros y cuenta con un complejo sistema de bóvedas. En su apogeo, la estructura tenía capacidad 
          para 50 000 espectadores que podían apreciar luchas de gladiadores y combates entre hombres y 
          animales.</div>
      <div class="card-footer">
        <img src="static\img/image33.png" class="card-img-top" alt="...">
      </div>
      <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="https://www.youtube.com/watch?v=VwdnATG47fE">Entra al link para ver peces coliseo
  <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
    <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
</a>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col mb-4">
    <div class="card h-100">
      <img src="static\img/image34.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Taj Mahal, India</h5>
        <p class="card-text">La séptima maravilla del mundo moderno es el Taj Mahal, en la India. 
          Se trata de un imponente mausoleo de mármol blanco edificado entre los años 1631 y 1648 por 
          orden del emperador mogol Shah Jahan para perpetuar la memoria de su esposa favorita, explica 
          la Unesco.La enciclopedia agrega que el mausoleo cuenta con piedras semipreciosas en motivos 
          geométricos y florales, una cúpula central rodeada de cuatro cúpulas más pequeñas y un inmenso 
          jardín con un estanque reflectante.
</div>
      <div class="card-footer">
      <img src="static\img/image35.png" class="card-img-top" alt="...">
      </div>
  <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="https://mx.video.search.yahoo.com/video/play;_ylt=AwrFOpR4CPBoTOAQdu7u8Qt.;_ylu=c2VjA3NyBHNsawN2aWQEZ3BvcwMx?p=taj+mahal&vid=f61f7718970348ad9d3c89545bd88f91&turl=https%3A%2F%2Ftse2.mm.bing.net%2Fth%2Fid%2FOVP.SDKXmLLGXvj5lT6gpW3BKwHgFo%3Fpid%3DApi%26h%3D360%26w%3D480%26c%3D7%26rs%3D1&rurl=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dg1Z4eSq6AAw&tit=%3Cb%3ETaj%3C%2Fb%3E+%3Cb%3EMahal%3C%2Fb%3E+-+Secrets+of+the+Mughal+Masterpiece+%7C+Documentary&c=0&sigr=K.oaYooSq1G0&sigt=DuHFo5G0SUUa&sigi=9sZDaurccaPe&fr2=p%3As%2Cv%3Av&h=360&w=480&l=3111&age=1719158427&fr=mcafee&type=E210MX91215G0-E210MX91215G0-E210MX91215G0-E210MX91215G0&tt=b">Entra al link para ver Taj Mahal
  <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
    <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
</a>
    </div>
  </div>
  <h2 class=" text-center">
    Es increible no es asi, conocer las maravillas que hay en este mundo. Ojala puedas visitar alguna pronto. 
</h2>

{% endblock %}